# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.vscode/
nbproject/private/
nb-configuration.xml
build/
nbbuild/
dist/
nbdist/

# OS
.DS_Store
Thumbs.db
